.total-score{
    min-height: 500px;
}

.accordion-collapse{
    margin-top: 50px;
}

.progress-bar-wrapper{
    margin: 80px 0 0 0;
    position: relative;
}
.team-header{
    margin-top: 10px;
}
.team-members{
    margin-top: 20px;
}
.team-patch{
    width: 80px;
    height: 80px;
    background-color: grey;
    border-radius: 100%;
    position: absolute;
    top: -30px;
    left: -30px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotate(90deg);
}

.team-patch#la{
    background-image: url("assets/patch-la.png");
}
.team-patch#je{
    background-image: url("assets/patch-je.png");
}
.team-patch#ka{
    background-image: url("assets/patch-ka.png");
}
.team-patch#li{
    background-image: url("assets/patch-li.png");
}

.total-score-bar{
    margin-left: 55px;
}


.total-score-bars{
    /*margin-top: 150px;*/
    transform: rotate(-90deg) translateX(-100px);
    
}

.header{    
    padding: 25px 0px 25px 0px;
}

.team-members > table:hover{
    background-color: #fafafa;
}

